{% extends 'index.html.twig' %}

{#Comment#}
{% block title %}
View Wines
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        <div class="activity_box">
            <h3>Wines</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Wine Name</th>
                        <th>Wine Type</th>
                        <th>Year</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if wines|length > 0 %}

                    {% for wine in wines %}
                    <tr>
                        <td>{{ wine.wine_id }}</td>
                        <td>{{ wine.wine_name }}</td>
                        <td>{{ wine.wine_type }}</td>
                        <td>{{ wine.year }}</td>
                        <td class="action">
                            <a class='btn btn-success' data-toggle='tooltip' href='#' title='View'>
                                <i class='fa fa-search icon-ser'></i>
                            </a>
                            <a class='btn btn-info' data-toggle='tooltip' id="{{ wine.wine_id }}" href='#'
                               title='Edit'>
                                <i class='fa fa-edit icon-edit'></i>
                            </a>
                            <a class='btn btn-danger' data-toggle='tooltip' id="{{ wine.wine_id }}" href='#'
                               title='Delete'>
                                <i class='fa fa-trash-o icon-trash'></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}

                    </tbody>
                </table>

                {% block pagination %}
                <div class='panel-footer'>
                    {% if totalPages > 0 %}
                    <ul class='pagination pagination-sm' id="pagination">
                        <!--{% for i in 1..totalPages %}-->

                        <!--{% if loop.first %}-->
                            {% if page == 1 %}
                            <li class="prev disabled">
                                <a>
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="prev disabled">
                                <a>
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="prev">
                                <a href='page4.php?page={{ 1 }}'>
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="prev">
                                <a href='page4.php?page={{ page - 1 }}'>
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}
                        <!--{% endif %}-->


                        <!--{% if loop.last %}-->
                            {% if page == totalPages %}
                            <li class="next disabled">
                                <a>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="next disabled">
                                <a>
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            {% else %}

                            <li class="next">
                                <a href='page4.php?page={{ page + 1 }}'>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="next">
                                <a href='page4.php?page={{ totalPages }}'>
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}

                        {% endfor %}
                    </ul>
                    {% endif %}


                    <div class='pull-right' id="paginationResult">
                        Page <a>{{ page }}</a> out of <a>{{ totalPages }}</a>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}